.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    transition: all 0.1s ease;
    border-radius: 12px;
}

.container:hover {
    background-color: #a1a1aa1b;
}

.desc h3 {
    font-weight: 500;
    font-size: 16px;
}

.desc p {
    color: #A1A1AA;
    font-size: 13px;
    font-weight: 500;
}

.statepos,
.stateneg {
    display: flex;
    align-items: center;
    border-radius: 6px;
    padding: 3px 10px;
}

.statepos {
    background-color: #e3f5e3;
    color: rgb(6, 155, 6);
}

.stateneg {
    background-color: #fbdbdb;
    color: #c82121;
}